name: Release Drafter

on:
  push:
    branches:
      - main

jobs:
  release-drafter:
    name: Release Drafter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Get next version
        id: version
        run: |
            echo "version=$(jq .version -r ./custom_components/homeassistant_sabiana_smart_energy/manifest.json)" >> $GITHUB_OUTPUT

      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v6.2.0
        with:
          tag: ${{ steps.version.outputs.version }}
          name: ${{ steps.version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
